body {
    background-color: #222222;
    color: white;
}

a {
    box-shadow: none;
}

.name {
    text-decoration: none !important;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0 !important;
}